/* container */
.custom_calendar__container {
    background-color: #ffffff;
    border-radius: 16px;
    margin-bottom: 0;
    padding: 30px;
}

/* days */
.custom_dayslist_content__wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
}

.custom_day_title__dayslist {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
}

/* month control */
.custom_month_control__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.custom_month_control__container div,
span {
    cursor: pointer;
    margin-top: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom_month_control__container div:hover {
    background-color: rgb(228, 228, 228);
    transition: all 0.5s;
}

.custom_month_control__container span:hover {
    background-color: rgb(82, 82, 82);
    transition: all 0.5s;
    width: 130px;
    border-radius: 4px;
    color: #ffffff;
}
