.months__wrapper {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
}

.months__item {
    cursor: pointer;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #f5f5f5;
    border: 1px solid transparent;
    transition: all 0.5s
}

.months__item:hover {
    background-color: #FFFFFF;
    border: 1px solid #f5f5f5;

}
