.current_today {
    cursor: pointer;
    background-color: rgb(102, 102, 255);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
}